._2dtyhOGvnzjBqIzvcCrA2K {
  cursor: pointer;
  display: block;
  margin-bottom: 18px;
  background-color: #fafafa;
  border-radius: 12px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr {
  margin-bottom: 18px;
  position: relative;
}
._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr::before {
  content: "";
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100.8%;
  border-radius: 4px;
  background-color: rgba(0, 163, 255, 0.05);
}
._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr img {
  display: block;
  width: 100%;
  height: 160px;
}
@media screen and (max-width: 1250px) {
  ._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr img {
    height: 100px;
  }
}
._2dtyhOGvnzjBqIzvcCrA2K ._3ehx549ujy6HkdRa6qr47n {
  color: #10a7ff;
  font-size: 1.05em;
  font-weight: 500;
  margin-bottom: 7px;
  transition: color 0.2s ease;
  padding: 16px 12px 2px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._2A2_JFkjiF429wLANf9VE3 {
  font-size: 0.9375em;
  margin-bottom: 14px;
  height: 90px;
  overflow: hidden;
  padding-bottom: 5px;
  padding: 4px 10px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._1d6lOraWHQ-Irn3g2hLN0L {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 7px;
  border-top: 1px solid #e6e6e6;
  padding: 12px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._1d6lOraWHQ-Irn3g2hLN0L ._2QsLqr29O9eqQwZTMu_DG8 {
  color: #00c0ff;
  text-transform: capitalize;
  text-align: center;
}
._2dtyhOGvnzjBqIzvcCrA2K ._1d6lOraWHQ-Irn3g2hLN0L ._246D6NVIcrSLI-pne_ukdB {
  color: #c4c4c4;
}
._2dtyhOGvnzjBqIzvcCrA2K:hover > ._3ehx549ujy6HkdRa6qr47n {
  color: #4274f1;
  transition: color 0.2s ease;
}
._3bBk6t6q2uiup_VT2Z7ILk {
  color: #10a7ff;
  text-decoration: none;
}
._3bBk6t6q2uiup_VT2Z7ILk:hover {
  text-decoration: underline;
}

._1ps8AtbsRrUFhhTKrKAvYu {
  margin-bottom: 10px;
}

._23NOuuwqcCpBs9fLUC8PZo {
  display: flex;
  justify-content: space-between;
}
._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  column-gap: 35px;
}
._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 ._1ps8AtbsRrUFhhTKrKAvYu {
  color: #141414;
  margin-bottom: 14px;
}
._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 ._3bBk6t6q2uiup_VT2Z7ILk {
  text-decoration: none;
  color: #242424;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 {
  width: 215px;
  padding-left: 20px;
  border-left: 1px solid #e6e6e6;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps {
  background-color: #fefefe;
  z-index: 2;
  margin: 0 auto;
  position: sticky;
  top: 103px;
  padding-bottom: 20px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps .JYF5SvUBSGq0YkMAEp8vv {
  color: #00c0ff;
  margin-bottom: 10px;
  padding: 0.1em 0;
  font-size: 1.1em;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 {
  margin-bottom: 7px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._3aVBaUo1LWVurPI-9DSKJI {
  font-weight: 500;
  font-size: 0.92em;
  margin-bottom: 5px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._3Se0PoWqcQme65n-1ob7-P {
  display: block;
  font-size: 0.88em;
  color: #c4c4c4;
  font-weight: 500;
  margin-bottom: 1px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._1ed3MfIreCVRWHm24dnyF- {
  font-size: 0.88em;
  color: #c4c4c4;
  font-weight: 500;
  margin-bottom: 1px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._35LGUBBvGyvWbskpgMON5u {
  float: right;
  font-size: 0.88em;
  color: #c4c4c4;
  font-weight: 500;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._3o0cHamVWLeD90BLweUbUI {
  display: block;
  color: #c4c4c4;
  margin-bottom: 5px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU {
  position: sticky;
  top: 325px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
  background-color: #fefefe;
  z-index: 1;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU ._2cxadyvNYAVxk_riYBgi_2 {
  text-decoration: none;
  color: #00b1eb;
  margin-bottom: 8px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU ._2cxadyvNYAVxk_riYBgi_2:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1250px) {
  ._1ps8AtbsRrUFhhTKrKAvYu {
    margin: 10px 0;
  }

  ._23NOuuwqcCpBs9fLUC8PZo {
    flex-direction: column-reverse;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 {
    width: 100%;
    margin-bottom: 18px;
    grid-template-columns: repeat(1, auto);
    column-gap: 0px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 {
    padding: 0;
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps {
    margin: 0;
    padding-bottom: 5px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps .JYF5SvUBSGq0YkMAEp8vv {
    padding: 5px 0;
    margin-bottom: 4px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 {
    display: inline-block;
    margin-bottom: 7px;
    width: 48%;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3:nth-child(3n) {
    float: right;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU {
    width: 100%;
    margin-bottom: 5px;
    flex-direction: row;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU ._2cxadyvNYAVxk_riYBgi_2 {
    width: 48%;
  }
}
.gxgBvdE5mEw4HyovJYQN3 {
  display: block;
  position: relative;
  height: 300px;
  border-radius: 4px;
  text-decoration: none;
  background-size: cover;
  margin-bottom: 30px;
  text-align: center;
}
.gxgBvdE5mEw4HyovJYQN3 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.gxgBvdE5mEw4HyovJYQN3 ._2Q86U6qr-DTxDQ1OPXeveI {
  margin-top: 70px;
  margin-bottom: 10px;
  opacity: 0;
  color: #fefefe;
  font-size: 1.74em;
  transition: all 0.3s ease;
  transform: translateY(-20px);
}
.gxgBvdE5mEw4HyovJYQN3 ._3S_HaAqhTbyNuh7A5cEpv8 {
  padding: 0 90px;
  font-weight: 500;
  opacity: 0;
  color: #fefefe;
  font-size: 1.14em;
  transition: all 0.3s ease;
  transform: translateY(20px);
}
.gxgBvdE5mEw4HyovJYQN3 ._3agNVn4R-fkyKfCXtVg5PC {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}
.gxgBvdE5mEw4HyovJYQN3 ._1skC2rQUKn0NYVOqJ2nHcj {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.slick-dots {
  bottom: 35px;
}

.slick-dots li button:before {
  font-size: 9px;
  opacity: 0.76;
}

.slick-dots li.slick-active button:before {
  color: #1ac9e8;
}

@media screen and (max-width: 1250px) {
  .gxgBvdE5mEw4HyovJYQN3 {
    height: 240px;
    margin-bottom: 5px;
  }
  .gxgBvdE5mEw4HyovJYQN3 ._2Q86U6qr-DTxDQ1OPXeveI {
    font-size: 1.22em;
    margin-top: 35px;
    margin-bottom: 5px;
  }
  .gxgBvdE5mEw4HyovJYQN3 ._3S_HaAqhTbyNuh7A5cEpv8 {
    font-size: 1em;
    padding: 0 10px;
  }

  .slick-dots {
    bottom: 10px;
  }

  .slick-dots li button:before {
    font-size: 8.5px;
  }

  .slick-dots li {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 640px) {
  .gxgBvdE5mEw4HyovJYQN3 {
    height: 145px;
    font-size: 12px;
  }
  .gxgBvdE5mEw4HyovJYQN3 ._2Q86U6qr-DTxDQ1OPXeveI {
    margin-top: 12px;
    margin-bottom: 3px;
    padding: 0 5px;
  }
  .gxgBvdE5mEw4HyovJYQN3 ._3S_HaAqhTbyNuh7A5cEpv8 {
    padding: 0 7px;
  }
}
._367v541zpnQhsj0snZ9YxO {
  margin: 140px auto 25px;
  width: 1100px;
  flex: auto;
}
@media screen and (max-width: 1250px) {
  ._367v541zpnQhsj0snZ9YxO {
    margin-top: 80px;
    width: 100%;
  }
}
._ZN7FgXM2JwCp-1T0w7vA a {
  display: inline-block;
  text-decoration: none;
  color: #141414;
  margin-right: 25px;
  font-size: 1.08em;
  transition: all 0.1s ease;
  background: none !important;
  font-weight: 500;
}
._ZN7FgXM2JwCp-1T0w7vA a:hover {
  transition: all 0.1s ease;
  color: #4274f1;
}
._ZN7FgXM2JwCp-1T0w7vA a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1250px) {
  ._ZN7FgXM2JwCp-1T0w7vA {
    display: none;
  }
}
._3xve6MMQ9gJLii25juVMxh {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 16px 0 12px 0;
  background: #fefefe;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 25px;
}
._3xve6MMQ9gJLii25juVMxh ._3WRe_FvAk9Nqo70koSl-TH {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
._3xve6MMQ9gJLii25juVMxh ._1HZ2blCbhNCz5RW-S-0mq0 {
  text-decoration: none;
  display: flex;
  width: 450px;
  margin-bottom: 20px;
}
._3xve6MMQ9gJLii25juVMxh ._2QRmQ5xzFZNaemDWclG5eE {
  width: 450px;
  margin-right: 10px;
}
._3xve6MMQ9gJLii25juVMxh .noqhzRrBx13B7xK0eJj-S {
  display: none;
}

@media screen and (max-width: 1250px) {
  ._3xve6MMQ9gJLii25juVMxh {
    width: 100%;
  }
  ._3xve6MMQ9gJLii25juVMxh ._2QRmQ5xzFZNaemDWclG5eE {
    width: 290px;
  }
  ._3xve6MMQ9gJLii25juVMxh .noqhzRrBx13B7xK0eJj-S {
    display: block;
    position: absolute;
    height: 100vh;
    z-index: 1000;
    background-color: #ffff;
    width: 100%;
    top: calc(0% + 62px);
    left: 0;
  }
}
@media screen and (max-width: 640px) {
  ._3xve6MMQ9gJLii25juVMxh {
    padding: 16px 6px 12px;
  }
  ._3xve6MMQ9gJLii25juVMxh ._2QRmQ5xzFZNaemDWclG5eE {
    width: 210px;
  }
}
._2I_l5lTLpjJ3-SdY3eZkyL {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: space-between;
  width: 100%;
  background-color: #f5f5f5;
}
._2I_l5lTLpjJ3-SdY3eZkyL a {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #141414;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._2I_l5lTLpjJ3-SdY3eZkyL a ._2ut3iRYKQES5cNOhuaePCB {
  width: 26px;
  height: 26px;
  margin-bottom: 2px;
}
._2I_l5lTLpjJ3-SdY3eZkyL a .-m6DeJX2Qiigut2tN1VAt {
  color: #141414;
  font-size: 8px;
  font-weight: 600;
}

@media screen and (max-width: 1250px) {
  ._2I_l5lTLpjJ3-SdY3eZkyL {
    display: flex;
  }
}
._1DvilgY_RNLx9YjM_pHwv4 {
  background-color: #f8f8f8;
  padding: 25px 0;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2yVxecXPlWv8z2oaZkHEIc {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2b2-sbOg-w00XJDD9j4Uvo {
  font-weight: 500;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2b2-sbOg-w00XJDD9j4Uvo span {
  display: block;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2b2-sbOg-w00XJDD9j4Uvo span:nth-child(2) {
  margin-bottom: 5px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV {
  width: 925px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div {
  width: 180px;
  margin-right: 10px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div:first-child, ._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div:nth-child(2) {
  width: 110px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div h4 {
  font-size: 0.94em;
  margin-bottom: 4px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div a {
  display: block;
  text-decoration: none;
  color: #141414;
  font-size: 0.88em;
  margin-bottom: 3px;
  line-height: 19px;
  font-weight: 500;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div a:hover {
  text-decoration: underline;
}
._1DvilgY_RNLx9YjM_pHwv4 ._1uJwzzGk407WoLJ_bySwmD {
  display: flex;
}
._1DvilgY_RNLx9YjM_pHwv4 ._3I1Yk1MmzeP4ILWxpNnsL- {
  display: block;
  width: 100%;
  font-size: 0.76em;
  text-align: center;
}
._1DvilgY_RNLx9YjM_pHwv4 ._1q-815fSdh212EDa1WHp-K {
  text-decoration: none;
  color: #00c0ff;
}
._1DvilgY_RNLx9YjM_pHwv4 ._1q-815fSdh212EDa1WHp-K:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1250px) {
  ._1DvilgY_RNLx9YjM_pHwv4 {
    display: none;
  }
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: #fefefe;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html,
body,
._1wiinMqfgHjqhZXq_N4OSG {
  height: 100vh;
}

._1wiinMqfgHjqhZXq_N4OSG {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  body {
    font-size: 14px;
  }

  ._1wiinMqfgHjqhZXq_N4OSG {
    padding: 0 10px;
  }

  ._80TJ2kdkfoN2LDDp5D7d {
    margin-bottom: 60px;
  }
}
._25STv-KmihsfDrWdGuQprn {
  width: 100%;
  padding: 25px;
  font-family: sans-serif;
}

._2OG451PucMW78jY-cFz9g {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
._2OG451PucMW78jY-cFz9g ._1TyRc64Nf0mlSu1vauq6RM {
  width: 100%;
  text-align: center;
  margin-left: 0;
  padding: 10px 7px;
  transition: all 0.1s;
  font-weight: 500;
  cursor: pointer;
  background-color: #ededed;
}
._2OG451PucMW78jY-cFz9g ._1TyRc64Nf0mlSu1vauq6RM._2op15DVh_fvH-EeO8uHwws {
  background-color: #fcfcfc;
  color: #4274f1;
}

.ffCuWlS7cNPgsiKswAmAk {
  padding: 32px 0;
  text-align: center;
  background-color: #fcfcfc;
}

@media screen and (max-width: 1250px) {
  ._2OG451PucMW78jY-cFz9g li {
    font-size: 0.88em;
  }

  .ffCuWlS7cNPgsiKswAmAk {
    padding-top: 22px;
  }
}
._1cp98gyWtJWYNXpKZNqJ69 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
@media screen and (max-width: 1250px) {
  ._1cp98gyWtJWYNXpKZNqJ69 {
    grid-template-columns: repeat(1, 100%);
  }
}

._2U64YsxxU0bh9Hitd66Z8n {
  font-size: 1.05em;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

._F4qOE9NnLoHM3md7srBu {
  display: grid;
}
@media screen and (max-width: 1250px) {
  ._F4qOE9NnLoHM3md7srBu {
    grid-template-columns: repeat(2, 50%);
  }
}
._F4qOE9NnLoHM3md7srBu ._8uUiA931GATT_3J402Ti0 {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}
._F4qOE9NnLoHM3md7srBu ._1JJC7W4loHbGq5c12xV9bL {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
.sFNfyAExWDONrHTUyCPrA {
  list-style: none;
  cursor: pointer;
  margin: 10px 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}
.sFNfyAExWDONrHTUyCPrA ._2hLG7_e8Tjne5HMk_hPEPc::before {
  content: none;
}

._2_4iQ8Qr2VcDxzWikFAdRM .SpoxObcelmjz0XYCoLQCm {
  transform: rotate(180deg);
}
._2_4iQ8Qr2VcDxzWikFAdRM ._2cr_ISeiu8UFLWGcsiG05D {
  max-height: 50%;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.5s;
  transition-property: max-height;
}
._2_4iQ8Qr2VcDxzWikFAdRM ._1tqvc6a0_jkvoTxRzXa-fZ {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity, transform;
}
.ECTrNe_UBY5p6rMKAi-6P {
  padding: 0.3rem 0rem;
  display: flex;
  align-items: center;
  z-index: 2;
  position: relative;
}
._1OXS2XUqbXEhmqdU6SRIpX {
  margin: 0;
  font-weight: 400;
  font-size: 1.05em;
  line-height: 24px;
  width: 100%;
}
.SpoxObcelmjz0XYCoLQCm {
  padding: 4px;
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC);
  border-radius: 100%;
  opacity: 0.6;
}
._2cr_ISeiu8UFLWGcsiG05D {
  max-height: 0;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 0.18s;
  transition-property: max-height;
  z-index: 1;
  position: relative;
}
._1tqvc6a0_jkvoTxRzXa-fZ {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
  transition-delay: 0.3s;
}

@media screen and (max-width: 1200px) {
  .sFNfyAExWDONrHTUyCPrA {
    list-style: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
  }
  .sFNfyAExWDONrHTUyCPrA ._1OXS2XUqbXEhmqdU6SRIpX {
    font-size: 1em;
  }
}
.EOHAGCXKfEPX7K2aYTMSP {
  padding: 7px 45px;
  background-color: #e5e5e5;
  font-weight: 500;
}

._3e9FQRZtKvgTeFHuW-8rnH {
  padding: 0 45px;
  text-align: left;
}

@media screen and (max-width: 1325px) {
  .EOHAGCXKfEPX7K2aYTMSP {
    padding: 7px 30px;
  }
}
@media screen and (max-width: 1250px) {
  .EOHAGCXKfEPX7K2aYTMSP {
    padding: 7px;
  }

  ._3e9FQRZtKvgTeFHuW-8rnH {
    padding: 0;
  }
}
