._3xve6MMQ9gJLii25juVMxh {
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 999;
  padding: 16px 0 12px 85px;
  background: #FEFEFE;
  border-bottom: 1px solid #e6e6e6;
}
._3xve6MMQ9gJLii25juVMxh ._1HZ2blCbhNCz5RW-S-0mq0 {
  text-decoration: none;
  display: block;
}
._3xve6MMQ9gJLii25juVMxh ._2QRmQ5xzFZNaemDWclG5eE {
  width: 177px;
}
._3xve6MMQ9gJLii25juVMxh .noqhzRrBx13B7xK0eJj-S {
  display: none;
}

@media screen and (max-width: 1400px) {
  ._3xve6MMQ9gJLii25juVMxh {
    padding: 16px 0 16px 55px;
  }
}
@media screen and (max-width: 1250px) {
  ._3xve6MMQ9gJLii25juVMxh {
    width: 92.7vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
  }
  ._3xve6MMQ9gJLii25juVMxh ._2QRmQ5xzFZNaemDWclG5eE {
    width: 110px;
  }
  ._3xve6MMQ9gJLii25juVMxh .noqhzRrBx13B7xK0eJj-S {
    display: block;
    position: absolute;
    height: 100vh;
    z-index: 1000;
    background-color: #ffff;
    width: 100%;
    top: calc(0% + 62px);
    left: 0;
  }
}
._2I_l5lTLpjJ3-SdY3eZkyL {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: space-between;
  width: 100%;
  background-color: #f1f1f1;
}
._2I_l5lTLpjJ3-SdY3eZkyL a {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #141414;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1250px) {
  ._2I_l5lTLpjJ3-SdY3eZkyL {
    display: flex;
  }
}
._1DvilgY_RNLx9YjM_pHwv4 {
  flex: 0 0 auto;
  display: grid;
  border-top: 1px solid #e6e6e6;
  padding: 25px 0 25px 85px;
  grid-template-columns: 22.5% 1fr;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2b2-sbOg-w00XJDD9j4Uvo {
  font-weight: 500;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2b2-sbOg-w00XJDD9j4Uvo span {
  display: block;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2b2-sbOg-w00XJDD9j4Uvo span:nth-child(2) {
  margin-bottom: 5px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV {
  width: 925px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div {
  width: 180px;
  margin-right: 10px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div:first-child, ._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div:nth-child(2) {
  width: 110px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div h4 {
  font-size: 0.94em;
  margin-bottom: 4px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div a {
  display: block;
  text-decoration: none;
  color: #141414;
  font-size: 0.88em;
  margin-bottom: 3px;
  line-height: 19px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div a:hover {
  text-decoration: underline;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV span {
  font-size: 0.76em;
}
._1DvilgY_RNLx9YjM_pHwv4 ._1uJwzzGk407WoLJ_bySwmD {
  display: flex;
}
._1DvilgY_RNLx9YjM_pHwv4 ._1q-815fSdh212EDa1WHp-K {
  text-decoration: none;
  color: #00C0FF;
}
._1DvilgY_RNLx9YjM_pHwv4 ._1q-815fSdh212EDa1WHp-K:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  ._1DvilgY_RNLx9YjM_pHwv4 {
    padding: 25px 0 25px 55px;
  }
  ._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV {
    width: 820px;
  }
}
@media screen and (max-width: 1250px) {
  ._1DvilgY_RNLx9YjM_pHwv4 {
    display: none;
  }
}
._ZN7FgXM2JwCp-1T0w7vA {
  position: fixed;
  margin-left: 85px;
}
._ZN7FgXM2JwCp-1T0w7vA a {
  display: block;
  text-decoration: none;
  color: #141414;
  margin-bottom: 15px;
  font-size: 1.52em;
  transition: all 0.1s ease;
  background: none !important;
}
._ZN7FgXM2JwCp-1T0w7vA a:hover {
  transition: all 0.1s ease;
  color: #5581F1;
}

@media screen and (max-width: 1400px) {
  ._ZN7FgXM2JwCp-1T0w7vA {
    margin-left: 55px;
  }
}
@media screen and (max-width: 1250px) {
  ._ZN7FgXM2JwCp-1T0w7vA {
    display: none;
  }
}
@font-face {
  font-family: "Geometria";
  src: url("/static/fonts/Geometria.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Geometria";
  src: url("/static/fonts/Geometria-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Geometria";
  src: url("/static/fonts/Geometria-Heavy.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Geometria";
  src: url("/static/fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
}
* {
  font-family: "Geometria", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 17px;
}

html,
body,
._1wiinMqfgHjqhZXq_N4OSG {
  height: 100vh;
}

body {
  background-color: #FEFEFE;
}

._1wiinMqfgHjqhZXq_N4OSG {
  margin-top: 100px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._28XWpxwOMGKgE3xEP0IiFh {
  flex: 1 0 auto;
  margin-top: 44px;
}
._28XWpxwOMGKgE3xEP0IiFh ._80TJ2kdkfoN2LDDp5D7d {
  margin: 0 auto;
  width: 870px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1500px) {
  ._1wiinMqfgHjqhZXq_N4OSG {
    padding: 0px;
  }
}
@media screen and (max-width: 1325px) {
  body {
    font-size: 16px;
  }

  ._28XWpxwOMGKgE3xEP0IiFh ._80TJ2kdkfoN2LDDp5D7d {
    width: 800px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1250px) {
  ._1wiinMqfgHjqhZXq_N4OSG {
    margin-top: 50px;
    padding: 0 50px;
  }

  ._28XWpxwOMGKgE3xEP0IiFh {
    height: 100%;
    margin-top: 18px;
  }
  ._28XWpxwOMGKgE3xEP0IiFh ._80TJ2kdkfoN2LDDp5D7d {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  ._1wiinMqfgHjqhZXq_N4OSG {
    padding: 0 10px;
  }
}
._2LOrxuB2sO1MlZ3D8OvxcR {
  width: 100%;
  margin-bottom: 10px;
}

.ZwFlEHAiy2BQExBsf9yB1 {
  margin-bottom: 10px;
}

.ap2FDx8aHJUSXjMd87vG2 {
  color: #242424;
  line-height: 23px;
  margin-bottom: 10px;
}

._5zvjXWVQkzbENS5CXNF-D {
  color: #C4C4C4;
}
._2dtyhOGvnzjBqIzvcCrA2K {
  cursor: pointer;
  display: block;
  margin-bottom: 28px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr {
  margin-bottom: 18px;
  position: relative;
}
._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101.5%;
  border-radius: 4px;
  background-color: rgba(0, 163, 255, 0.05);
}
._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr img {
  display: block;
  width: 100%;
}
._2dtyhOGvnzjBqIzvcCrA2K ._3ehx549ujy6HkdRa6qr47n {
  color: #10a7ff;
  font-size: 1.17em;
  margin-bottom: 7px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._2A2_JFkjiF429wLANf9VE3 {
  font-size: 0.94em;
  margin-bottom: 12px;
  height: 55px;
  overflow: hidden;
  padding-bottom: 5px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._1d6lOraWHQ-Irn3g2hLN0L {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 7px;
  border-top: 1px solid #e6e6e6;
}
._2dtyhOGvnzjBqIzvcCrA2K ._1d6lOraWHQ-Irn3g2hLN0L ._2QsLqr29O9eqQwZTMu_DG8 {
  color: #10a7ff;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  line-height: 17px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._1d6lOraWHQ-Irn3g2hLN0L ._246D6NVIcrSLI-pne_ukdB {
  color: #C4C4C4;
}
._2dtyhOGvnzjBqIzvcCrA2K:hover > ._3ehx549ujy6HkdRa6qr47n {
  color: #5581F1;
  text-decoration: underline;
}
._3-A5EvFnyA0BBmmjQIbQhg {
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(135deg, #24c6dc 0%, #57519b 100%);
  color: #FEFEFE;
  font-weight: bold;
  font-size: 2.32em;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

._23NOuuwqcCpBs9fLUC8PZo {
  display: flex;
  justify-content: space-between;
  position: relative;
}
._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 {
  width: 600px;
}
._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 ._1ps8AtbsRrUFhhTKrKAvYu {
  color: #141414;
  margin-bottom: 20px;
}
._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 ._3bBk6t6q2uiup_VT2Z7ILk {
  text-decoration: none;
  color: #242424;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 {
  width: 215px;
  padding-left: 20px;
  border-left: 1px solid #e6e6e6;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps {
  background-color: #fefefe;
  z-index: 2;
  margin: 0 auto;
  position: sticky;
  top: 103px;
  margin-bottom: 20px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps .JYF5SvUBSGq0YkMAEp8vv {
  color: #00C0FF;
  margin-bottom: 10px;
  padding: 0.1em 0;
  font-size: 1.1em;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 {
  margin-bottom: 7px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._3aVBaUo1LWVurPI-9DSKJI {
  font-weight: 500;
  font-size: 0.94em;
  margin-bottom: 5px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._3Se0PoWqcQme65n-1ob7-P {
  display: block;
  font-size: 0.88em;
  color: #C4C4C4;
  font-weight: 500;
  margin-bottom: 1px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._1ed3MfIreCVRWHm24dnyF- {
  font-size: 0.88em;
  color: #C4C4C4;
  font-weight: 500;
  margin-bottom: 1px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._35LGUBBvGyvWbskpgMON5u {
  float: right;
  font-size: 0.88em;
  color: #C4C4C4;
  font-weight: 500;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU {
  position: sticky;
  top: 395px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU ._2cxadyvNYAVxk_riYBgi_2 {
  text-decoration: none;
  color: #00b1eb;
  margin-bottom: 8px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU ._2cxadyvNYAVxk_riYBgi_2:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1250px) {
  ._3-A5EvFnyA0BBmmjQIbQhg {
    padding: 48px 0;
    margin-bottom: 22px;
  }

  ._23NOuuwqcCpBs9fLUC8PZo {
    flex-direction: column-reverse;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 {
    width: 100%;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 {
    padding: 0;
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 18px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps {
    width: 100%;
    margin: 0;
    position: static;
    margin-bottom: 10px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps .JYF5SvUBSGq0YkMAEp8vv {
    padding: 5px 0;
    margin-bottom: 4px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 {
    display: inline-block;
    margin-bottom: 7px;
    width: 154px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3:nth-child(3n) {
    float: right;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU {
    position: static;
    width: 100%;
    margin-bottom: 5px;
    flex-direction: row;
  }
}
@media screen and (max-width: 335px) {
  ._23NOuuwqcCpBs9fLUC8PZo {
    flex-direction: column-reverse;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 {
    width: 100%;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 {
    width: 145px;
  }
}

/*# sourceMappingURL=styles.chunk.css.map*/