._3xve6MMQ9gJLii25juVMxh {
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 999;
  padding: 16px 0 8px 85px;
  background: #fefefe;
  border-bottom: 1px solid #e6e6e6;
}
._3xve6MMQ9gJLii25juVMxh ._1HZ2blCbhNCz5RW-S-0mq0 {
  text-decoration: none;
  display: block;
}
._3xve6MMQ9gJLii25juVMxh ._2QRmQ5xzFZNaemDWclG5eE {
  width: 172px;
}
._3xve6MMQ9gJLii25juVMxh .noqhzRrBx13B7xK0eJj-S {
  display: none;
}

@media screen and (max-width: 1400px) {
  ._3xve6MMQ9gJLii25juVMxh {
    padding: 16px 0 16px 55px;
  }
}
@media screen and (max-width: 1250px) {
  ._3xve6MMQ9gJLii25juVMxh {
    width: 92.7vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 5px 5px;
  }
  ._3xve6MMQ9gJLii25juVMxh ._2QRmQ5xzFZNaemDWclG5eE {
    width: 110px;
  }
  ._3xve6MMQ9gJLii25juVMxh .noqhzRrBx13B7xK0eJj-S {
    display: block;
    position: absolute;
    height: 100vh;
    z-index: 1000;
    background-color: #ffff;
    width: 100%;
    top: calc(0% + 62px);
    left: 0;
  }
}
._2I_l5lTLpjJ3-SdY3eZkyL {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: space-between;
  width: 100%;
  background-color: #f1f1f1;
}
._2I_l5lTLpjJ3-SdY3eZkyL a {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #141414;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1250px) {
  ._2I_l5lTLpjJ3-SdY3eZkyL {
    display: flex;
  }
}
._1DvilgY_RNLx9YjM_pHwv4 {
  flex: 0 0 auto;
  display: grid;
  border-top: 1px solid #e6e6e6;
  padding: 25px 0 25px 85px;
  grid-template-columns: 22.5% 1fr;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2b2-sbOg-w00XJDD9j4Uvo {
  font-weight: 500;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2b2-sbOg-w00XJDD9j4Uvo span {
  display: block;
}
._1DvilgY_RNLx9YjM_pHwv4 ._2b2-sbOg-w00XJDD9j4Uvo span:nth-child(2) {
  margin-bottom: 5px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV {
  width: 925px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div {
  width: 180px;
  margin-right: 10px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div:first-child, ._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div:nth-child(2) {
  width: 110px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div h4 {
  font-size: 0.94em;
  margin-bottom: 4px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div a {
  display: block;
  text-decoration: none;
  color: #141414;
  font-size: 0.88em;
  margin-bottom: 3px;
  line-height: 19px;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV ._1bvXkKFUjxI6gqkSkAi2Pq div a:hover {
  text-decoration: underline;
}
._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV span {
  font-size: 0.76em;
}
._1DvilgY_RNLx9YjM_pHwv4 ._1uJwzzGk407WoLJ_bySwmD {
  display: flex;
}
._1DvilgY_RNLx9YjM_pHwv4 ._1q-815fSdh212EDa1WHp-K {
  text-decoration: none;
  color: #00c0ff;
}
._1DvilgY_RNLx9YjM_pHwv4 ._1q-815fSdh212EDa1WHp-K:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  ._1DvilgY_RNLx9YjM_pHwv4 {
    padding: 25px 0 25px 55px;
  }
  ._1DvilgY_RNLx9YjM_pHwv4 ._92qU5YbnANk2-3cMRliZV {
    width: 820px;
  }
}
@media screen and (max-width: 1250px) {
  ._1DvilgY_RNLx9YjM_pHwv4 {
    display: none;
  }
}
._ZN7FgXM2JwCp-1T0w7vA {
  position: fixed;
  margin-left: 85px;
}
._ZN7FgXM2JwCp-1T0w7vA a {
  display: block;
  text-decoration: none;
  color: #141414;
  margin-bottom: 15px;
  font-size: 1.52em;
  transition: all 0.1s ease;
  background: none !important;
}
._ZN7FgXM2JwCp-1T0w7vA a:hover {
  transition: all 0.1s ease;
  color: #5581f1;
}

@media screen and (max-width: 1400px) {
  ._ZN7FgXM2JwCp-1T0w7vA {
    margin-left: 55px;
  }
}
@media screen and (max-width: 1250px) {
  ._ZN7FgXM2JwCp-1T0w7vA {
    display: none;
  }
}
@font-face {
  font-family: "Geometria";
  src: url("/static/fonts/Geometria.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Geometria";
  src: url("/static/fonts/Geometria-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Geometria";
  src: url("/static/fonts/Geometria-Heavy.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Geometria";
  src: url("/static/fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
}
* {
  font-family: "Geometria", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 17px;
}

html,
body,
._1wiinMqfgHjqhZXq_N4OSG {
  height: 100vh;
}

body {
  background-color: #fefefe;
}

._1wiinMqfgHjqhZXq_N4OSG {
  margin-top: 100px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._28XWpxwOMGKgE3xEP0IiFh {
  flex: 1 0 auto;
  margin-top: 44px;
}
._28XWpxwOMGKgE3xEP0IiFh ._80TJ2kdkfoN2LDDp5D7d {
  margin: 0 auto;
  width: 870px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1500px) {
  ._1wiinMqfgHjqhZXq_N4OSG {
    padding: 0px;
  }
}
@media screen and (max-width: 1325px) {
  body {
    font-size: 16px;
  }

  ._28XWpxwOMGKgE3xEP0IiFh ._80TJ2kdkfoN2LDDp5D7d {
    width: 800px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1250px) {
  ._1wiinMqfgHjqhZXq_N4OSG {
    margin-top: 50px;
    padding: 0 50px;
  }

  ._28XWpxwOMGKgE3xEP0IiFh {
    height: 100%;
    margin-top: 18px;
  }
  ._28XWpxwOMGKgE3xEP0IiFh ._80TJ2kdkfoN2LDDp5D7d {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  ._1wiinMqfgHjqhZXq_N4OSG {
    padding: 0 10px;
  }
}
._25STv-KmihsfDrWdGuQprn {
  width: 100%;
  padding: 25px;
  font-family: sans-serif;
}

._2OG451PucMW78jY-cFz9g {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
._2OG451PucMW78jY-cFz9g ._1TyRc64Nf0mlSu1vauq6RM {
  width: 100%;
  text-align: center;
  margin-left: 0;
  padding: 10px 7px;
  transition: all 0.1s;
  font-weight: 500;
  cursor: pointer;
  background-color: #ededed;
}
._2OG451PucMW78jY-cFz9g ._1TyRc64Nf0mlSu1vauq6RM._2op15DVh_fvH-EeO8uHwws {
  background-color: #fcfcfc;
  color: #5581f1;
}

.ffCuWlS7cNPgsiKswAmAk {
  padding: 32px 0;
  text-align: center;
  background-color: #fcfcfc;
}

@media screen and (max-width: 1250px) {
  ._2OG451PucMW78jY-cFz9g li {
    font-size: 0.88em;
  }

  .ffCuWlS7cNPgsiKswAmAk {
    padding-top: 22px;
  }
}
input[type=search],
select {
  border-radius: 0px;
}

._19k2o8t0cx3PFHKS2e2Dql {
  text-align: center;
  padding: 0 50px;
  overflow-anchor: none;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  animation: _3L5Vrff948MoO0N3oTlJ6v 0.6s;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 ._3mKioDEvvUIP7jM936LdTb {
  line-height: 16px;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 ._3mKioDEvvUIP7jM936LdTb ._3Q3AbirIrFzWZEzgY4vme_ {
  position: relative;
  padding-right: 25px;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 ._3mKioDEvvUIP7jM936LdTb ._3Q3AbirIrFzWZEzgY4vme_ .MziJhYKJcrlnt1qgdDuSj {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 ._3mKioDEvvUIP7jM936LdTb ._3Q3AbirIrFzWZEzgY4vme_ ._1nu50_YiKCnHlku3hPpNRo {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 35%;
  border-radius: 50%;
  border: 1px solid #19b5fe;
  background-color: #fcfcfc;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 ._3mKioDEvvUIP7jM936LdTb ._3Q3AbirIrFzWZEzgY4vme_ ._1nu50_YiKCnHlku3hPpNRo:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #19b5fe;
  display: none;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 ._3mKioDEvvUIP7jM936LdTb ._3Q3AbirIrFzWZEzgY4vme_ .MziJhYKJcrlnt1qgdDuSj:checked ~ ._1nu50_YiKCnHlku3hPpNRo:after {
  display: block;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 select {
  border: none;
  border-bottom: 1px solid #141414;
  font-size: 1em;
  background-color: inherit;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 #_2n0pedzdw5K2wZCP4TEQH9 {
  width: 190px;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 input[type=search] {
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #141414;
  font-size: 1em;
  width: 196px;
  padding: 0 5px;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 input[type=search]::placeholder {
  color: #141414;
  text-align: center;
}
._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 input[type=search]:focus {
  outline-color: #00c0ff;
  outline-width: 1px;
}
._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI {
  margin-bottom: 20px;
  animation: _3L5Vrff948MoO0N3oTlJ6v 0.8s;
}
._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1ZBxUQkiUwsS3ZPQLEwZch {
  display: flex;
  justify-content: space-between;
  font-size: 1.11em;
  font-weight: 500;
  margin-bottom: 15px;
}
._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1ZBxUQkiUwsS3ZPQLEwZch span {
  text-transform: capitalize;
}
._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a {
  text-align: left;
  display: flex;
  font-size: 1em;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e9e9e9;
}
._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a:last-child {
  border-bottom: none;
  padding-bottom: 2px;
}
._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a ._2PI_2_dWFuYgQudelm7-mW {
  padding-left: 10px;
  width: 70px;
  font-weight: 300;
  color: #c4c4c4;
}
._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a ._2PI_2_dWFuYgQudelm7-mW ._38DUv3VcWpktJ09T1S-k6K {
  margin-bottom: 5px;
}
._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a ._1ivd8HNWVdlBShj5vaO04H {
  font-weight: 500;
  margin-bottom: 5px;
}
._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a .HnKGUCwIspfjLANlS4seK {
  font-weight: 500;
  color: #5581f1;
  margin-right: 14px;
}
._19k2o8t0cx3PFHKS2e2Dql ._1wParky1jWfszEj8-_OkVx {
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #00c0ff;
  background-color: #00c0ff;
  color: #fefefe;
  font-weight: 500;
  padding: 0.5em 1.2em;
  transition: all 0.2s ease;
}
._19k2o8t0cx3PFHKS2e2Dql ._1wParky1jWfszEj8-_OkVx:hover {
  transition: all 0.2s ease;
  background-color: inherit;
  color: #00c0ff;
}

@keyframes _3L5Vrff948MoO0N3oTlJ6v {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1325px) {
  ._19k2o8t0cx3PFHKS2e2Dql {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1250px) {
  ._19k2o8t0cx3PFHKS2e2Dql {
    padding: 0 5px;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 {
    flex-direction: column;
    align-items: center;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 ._3mKioDEvvUIP7jM936LdTb {
    margin-bottom: 10px;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 select {
    background-color: inherit;
    width: 100%;
    margin-bottom: 10px;
    padding: 2px 0;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 #_2n0pedzdw5K2wZCP4TEQH9 {
    width: 100%;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 input[type=search] {
    background-color: inherit;
    width: 100%;
    padding: 5px;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._1sdJRFpPBK1U9kExEAORt8 input[type=search]::placeholder {
    text-align: left;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1ZBxUQkiUwsS3ZPQLEwZch {
    font-size: 1.05em;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a {
    font-size: 0.95em;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a ._2PI_2_dWFuYgQudelm7-mW {
    width: 60px;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a .BPUdvcyCtN9ekHW_0bfBT {
    flex: 1;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a .HnKGUCwIspfjLANlS4seK {
    margin-right: 0;
  }
  ._19k2o8t0cx3PFHKS2e2Dql ._2nlK51cCilBZ6EoGz91of3 ._1oOPGH1K1Nxff6AUQh8TlI ._1jvKapLvo_1DCW4-uiKy9a span {
    display: block;
    margin-bottom: 2px;
  }
}
.EOHAGCXKfEPX7K2aYTMSP {
  padding: 7px 45px;
  background-color: #e5e5e5;
  font-weight: 500;
}

@media screen and (max-width: 1325px) {
  .EOHAGCXKfEPX7K2aYTMSP {
    padding: 7px 30px;
  }
}
@media screen and (max-width: 1250px) {
  .EOHAGCXKfEPX7K2aYTMSP {
    padding: 7px;
  }
}
._2u9x82mfSJlJx09l5cp-SS {
  margin-bottom: 15px;
  padding: 0 50px;
}
._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z {
  display: flex;
  margin-bottom: 25px;
  animation: _1XBCTWLbvu-_GLCSYYJtkq 0.6s;
}
._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z select {
  border: none;
  border-bottom: 1px solid #141414;
  font-size: 1em;
  background-color: inherit;
  margin-right: 16px;
}
._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z ._1kw23HnI-zpzRtFFrmExiL {
  width: 211px;
}
._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z input[type=search] {
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #141414;
  font-size: 1em;
  width: 185px;
  padding: 1px 5px;
}
._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z input[type=search]::placeholder {
  color: #141414;
}
._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z input[type=search]:focus {
  outline-color: #00c0ff;
  outline-width: 1px;
}

._3hNXdTOdF4RkgCh3PyHpLN {
  margin-bottom: 20px;
  animation: _1XBCTWLbvu-_GLCSYYJtkq 0.8s;
}
._3hNXdTOdF4RkgCh3PyHpLN ._1-wgK6vNMXXgAgFs3xowol {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 10px;
}
._3hNXdTOdF4RkgCh3PyHpLN ._1-wgK6vNMXXgAgFs3xowol ._2-woqwW0CG004v_J0v6CeW {
  text-transform: capitalize;
}
._3hNXdTOdF4RkgCh3PyHpLN ._2u9x82mfSJlJx09l5cp-SS {
  padding: 0;
  text-align: left;
  font-weight: 500;
  margin-bottom: 15px;
  color: #5581f1;
}
._3hNXdTOdF4RkgCh3PyHpLN ._18LkyKq3MkT9s5xNOqVmFT {
  text-align: left;
  display: flex;
  font-size: 17px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e9e9e9;
}
._3hNXdTOdF4RkgCh3PyHpLN ._18LkyKq3MkT9s5xNOqVmFT:last-child {
  border-bottom: none;
  padding-bottom: 2px;
}
._3hNXdTOdF4RkgCh3PyHpLN ._18LkyKq3MkT9s5xNOqVmFT ._3SWDPfFoWnezWG-7ZQtqsC {
  padding-left: 10px;
  width: 26px;
  font-weight: 400;
  color: #b7b7b7;
}
._3hNXdTOdF4RkgCh3PyHpLN ._18LkyKq3MkT9s5xNOqVmFT .wN2reS-Clam-iKtRntIX_ {
  text-align: left;
}
._3hNXdTOdF4RkgCh3PyHpLN ._18LkyKq3MkT9s5xNOqVmFT .wN2reS-Clam-iKtRntIX_ ._456dTtIKe8J_QRE-TGvtV {
  margin-right: 5px;
}

.ESXnkTVw2AYcA2ustDMia {
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #00c0ff;
  background-color: #00c0ff;
  color: #fefefe;
  font-weight: 500;
  padding: 0.5em 1.2em;
  transition: all 0.2s ease;
}
.ESXnkTVw2AYcA2ustDMia:hover {
  transition: all 0.2s ease;
  background-color: inherit;
  color: #00c0ff;
}

@keyframes _1XBCTWLbvu-_GLCSYYJtkq {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1250px) {
  ._2u9x82mfSJlJx09l5cp-SS {
    padding: 0 5px;
  }
  ._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z {
    flex-direction: column;
    align-items: center;
  }
  ._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z select {
    background-color: inherit;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 2px 0;
  }
  ._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z ._1kw23HnI-zpzRtFFrmExiL {
    width: 100%;
  }
  ._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z input[type=search] {
    background-color: inherit;
    width: 100%;
    padding: 5px;
  }
  ._2u9x82mfSJlJx09l5cp-SS .kFkaqRLQ3V-Zs_yD5v02Z input[type=search]::placeholder {
    text-align: left;
  }
  ._2u9x82mfSJlJx09l5cp-SS ._3hNXdTOdF4RkgCh3PyHpLN ._1-wgK6vNMXXgAgFs3xowol {
    font-size: 1.05em;
  }
  ._2u9x82mfSJlJx09l5cp-SS ._3hNXdTOdF4RkgCh3PyHpLN ._1-wgK6vNMXXgAgFs3xowol span:nth-child(2) {
    font-size: 0.95em;
  }
  ._2u9x82mfSJlJx09l5cp-SS ._3hNXdTOdF4RkgCh3PyHpLN ._18LkyKq3MkT9s5xNOqVmFT .wN2reS-Clam-iKtRntIX_ {
    font-size: 0.95em;
  }
  ._2u9x82mfSJlJx09l5cp-SS ._3hNXdTOdF4RkgCh3PyHpLN ._18LkyKq3MkT9s5xNOqVmFT .wN2reS-Clam-iKtRntIX_ ._456dTtIKe8J_QRE-TGvtV:first-child {
    display: block;
    margin-bottom: 2px;
  }
}
input[type=search],
select {
  -webkit-appearance: none;
  border-radius: 0px;
}
._2dtyhOGvnzjBqIzvcCrA2K {
  cursor: pointer;
  display: block;
  margin-bottom: 28px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr {
  margin-bottom: 18px;
  position: relative;
}
._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101.5%;
  border-radius: 4px;
  background-color: rgba(0, 163, 255, 0.05);
}
._2dtyhOGvnzjBqIzvcCrA2K ._2otrbJn2AzDkHetRtEFRUr img {
  display: block;
  width: 100%;
}
._2dtyhOGvnzjBqIzvcCrA2K ._3ehx549ujy6HkdRa6qr47n {
  color: #10a7ff;
  font-size: 1.17em;
  font-weight: 500;
  margin-bottom: 7px;
  transition: color 0.2s ease;
}
._2dtyhOGvnzjBqIzvcCrA2K ._2A2_JFkjiF429wLANf9VE3 {
  font-size: 0.94em;
  margin-bottom: 14px;
  height: 55px;
  overflow: hidden;
  padding-bottom: 5px;
}
._2dtyhOGvnzjBqIzvcCrA2K ._1d6lOraWHQ-Irn3g2hLN0L {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 7px;
  border-top: 1px solid #e6e6e6;
}
._2dtyhOGvnzjBqIzvcCrA2K ._1d6lOraWHQ-Irn3g2hLN0L ._2QsLqr29O9eqQwZTMu_DG8 {
  color: #00c0ff;
  text-transform: capitalize;
  text-align: center;
}
._2dtyhOGvnzjBqIzvcCrA2K ._1d6lOraWHQ-Irn3g2hLN0L ._246D6NVIcrSLI-pne_ukdB {
  color: #c4c4c4;
}
._2dtyhOGvnzjBqIzvcCrA2K:hover > ._3ehx549ujy6HkdRa6qr47n {
  color: #5581f1;
  transition: color 0.2s ease;
}
._3-A5EvFnyA0BBmmjQIbQhg {
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(135deg, #24c6dc 0%, #57519b 100%);
  color: #fefefe;
  font-weight: bold;
  font-size: 2.32em;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

._23NOuuwqcCpBs9fLUC8PZo {
  display: flex;
  justify-content: space-between;
  position: relative;
}
._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 {
  width: 600px;
}
._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 ._1ps8AtbsRrUFhhTKrKAvYu {
  color: #141414;
  margin-bottom: 14px;
}
._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 ._3bBk6t6q2uiup_VT2Z7ILk {
  text-decoration: none;
  color: #242424;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 {
  width: 215px;
  padding-left: 20px;
  border-left: 1px solid #e6e6e6;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps {
  background-color: #fefefe;
  z-index: 2;
  margin: 0 auto;
  position: sticky;
  top: 103px;
  margin-bottom: 20px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps .JYF5SvUBSGq0YkMAEp8vv {
  color: #00c0ff;
  margin-bottom: 10px;
  padding: 0.1em 0;
  font-size: 1.1em;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 {
  margin-bottom: 7px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._3aVBaUo1LWVurPI-9DSKJI {
  font-weight: 500;
  font-size: 0.92em;
  margin-bottom: 5px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._3Se0PoWqcQme65n-1ob7-P {
  display: block;
  font-size: 0.88em;
  color: #c4c4c4;
  font-weight: 500;
  margin-bottom: 1px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._1ed3MfIreCVRWHm24dnyF- {
  font-size: 0.88em;
  color: #c4c4c4;
  font-weight: 500;
  margin-bottom: 1px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 ._35LGUBBvGyvWbskpgMON5u {
  float: right;
  font-size: 0.88em;
  color: #c4c4c4;
  font-weight: 500;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU {
  position: sticky;
  top: 395px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU ._2cxadyvNYAVxk_riYBgi_2 {
  text-decoration: none;
  color: #00b1eb;
  margin-bottom: 8px;
}
._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU ._2cxadyvNYAVxk_riYBgi_2:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1250px) {
  ._3-A5EvFnyA0BBmmjQIbQhg {
    padding: 48px 0;
    margin-bottom: 22px;
  }

  ._23NOuuwqcCpBs9fLUC8PZo {
    flex-direction: column-reverse;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._1PGiMWrieTOVPkVRqyyww9 {
    width: 100%;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 {
    padding: 0;
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 18px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps {
    width: 100%;
    margin: 0;
    position: static;
    margin-bottom: 10px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps .JYF5SvUBSGq0YkMAEp8vv {
    padding: 5px 0;
    margin-bottom: 4px;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3 {
    display: inline-block;
    margin-bottom: 7px;
    width: 48%;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._3AAGqRwZ-M79DzQRSpZRps ._2LMycsnqHT7wkmGb589GC3:nth-child(3n) {
    float: right;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU {
    position: static;
    width: 100%;
    margin-bottom: 5px;
    flex-direction: row;
  }
  ._23NOuuwqcCpBs9fLUC8PZo ._3X5W4LqsnJw3rRSEeF1fr6 ._2d6Eq5N3zFauA5VdzDchVU ._2cxadyvNYAVxk_riYBgi_2 {
    width: 48%;
  }
}

/*# sourceMappingURL=styles.chunk.css.map*/